@import './constant.scss';

.home{
    background-color: $primary-bg;
    color: #333;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer{
    padding: 1.5rem;
}

.containerHeading{
    margin-bottom: 1.5rem;
}

.containerBody{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.bodyInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

